<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="jywsConnectionString" connectionString="server=localhost;user id=root;password=e85841477;database=jyws"
      providerName="MySql.Data.MySqlClient" />
    <add name="testConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="testConnectionString2" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="testConnectionString3" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>